<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >
/*
colors:
red #FF3A17
pink #FF46ED
gray 1 #EFEFEF
gray 2 #E0DFDF
gray 3 #ABABAB
black-non-black #2B2B2B
*/

/*! ------------------------------------------ MAIN ------------------------------------------ */

header {
	/*	background-color: #EFEFEF;*/
	background-color: #EFEFEF;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

body {
	background-color: #EFEFEF;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

container {
	padding: 0px;
	border: 0px;
	margin: 0px;
	margin-left: 1vh;
}



/*! ------------------------------------------ MARQUEE ------------------------------------------ */

marquee {
	direction: left;
	-webkit-animation: marquee 32s linear infinite;
	animation: marquee 32s linear infinite;
	width: 100%;
	height: auto;
	position: relative;
	background-color: #EFEFEF;
	margin: 0px;
	border: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2vh;
	padding-bottom: 2vh;
	background-color: #EFEFEF;
}


.imgMarqee {
	width: 15px;
	height: 15px;
}

.marq_text {
	font-family: 'SuisseIntl-Book', sans-serif;
	font-size: 20px;
	color: #FF46EC;
	margin: 0px;
	border: 0px;
	padding-left: 0px;
	padding-right: 0px;
}


/*! ------------------------------------------ NAV BAR ------------------------------------------ */

.navbar {
	background-color: #E0DFDF;
	padding-left: 5vh;
	padding-right: 5vh;
	margin: 0px;
	border: 0px;
}


#link_appearance_nav {
	font-family: 'SuisseIntl-Regular', monospace;
	font-size: 11pt;
	color: #2B2B2B;

}

#link_appearance_nav .active{

	color: yellow

}



/*
#link_appearance_nav_special {
	font-family: 'SuisseIntl-Regular', monospace;
	font-size: 9pt;
	color: #FF46EC;
}

a.navbar-brand {
	font-family: 'SuisseIntl-Regular', monospace;
	font-size: 11pt;
*/

/*
	color:red;
	perchè il colore non funziona!!!
*/

}


#landing {}


/*! ------------------------------------------ LANDING ------------------------------------------ */

#network {
	background-color: #EFEFEF;
	padding: 0vh;
	padding-top:80px;
	padding-bottom:30px;
	/*	come calcolo l'igombro del menu responsive ogni volta?'*/
}


.title_super {
	font-family: 'SuisseIntl-Bold', sans-serif;
	font-size: 80px;
	color: #2A2A2A;
}

.subtitle_super {
	font-family: 'SuisseIntl-Light', sans-serif;
	font-size: 24px;
	color: #2A2A2A;
	display: block;
}

.p {
	padding: 0px;
	margin: 0px;
}




.title1 {
	font-family: 'SuisseIntl-SemiBold', sans-serif;
	font-size: 40px;
	color: #2A2A2A;
	padding: 0px;
	margin-bottom: 6vh;
}

.title2 {
	font-family: 'SuisseIntl-Light', sans-serif;
	font-size: 15px;
	color: #FF46ED;
	padding: 0px;
	margin: 0px;
	
}

.title3 {
	font-family: 'SuisseIntl-Light', sans-serif;
	font-size: 16px;
	color: #2B2B2B;
	padding: 0px;
	padding-top: 3vh;
	margin: 0px;
	
}


.illustration {
	padding-top: 5vh;
}


.pre-source {
	font-family: 'SuisseIntl-Light', sans-serif;
	font-size: 11px;
	color: #2B2B2B;
	margin: 0px;
	margin-top: 3vh;
}

.source {
	font-family: 'SuisseIntl-Light', sans-serif;
	font-size: 11px;
	color: #FF3A17;
	padding: 0px;
	margin: 0px;
	border: 0px;
	
}

.source:hover {
	color: #ABABAB;
	text-decoration: none;
}


.text2 {
	font-family: 'SuisseIntl-Regular', sans-serif;
	font-size: 20px;
	color: #2A2A2A;
	padding: 0px;
	margin: 0px;
	margin-bottom: 3vh;
}


/*! ------------------------------------------ NETWORK ------------------------------------------ */

#network {
	background-color: #EFEFEF;
	padding: 0vh;
	height: 1000px;
	padding-top:80px;;

}

#viz1 {
	width: 100%;
	height: auto;
}



/*! ------------------------------------------ PILLS ------------------------------------------ */

#pills {
	background-color: #EFEFEF;
/*	background-color: lightblue;*/
	padding: 0vh;
	padding-top:80px;
	padding-bottom:30px;

}

.intro {
	padding: 0vh;
	padding-bottom:4vh;

}


#viz-q {
	width: 100%;
	height: auto;
	padding-top:2vh;
	padding-bottom: 0vh;
}

#viz-k {
	width: 100%;
	height: auto;
	padding-top:3vh;
}

.column-left {
	padding-left:3vh;
}



/*! ------------------------------------------ WORKSHOPS ------------------------------------------ */

#workshops {
/*	non funziona collegamento da menu come se fosse diverso e non capisco perchè*/
	background-color: #EFEFEF;
	padding-top:80px;
	margin-bottom:30px;

}


/*! ------------------------------------------ TOOLKIT ------------------------------------------ */

#toolkit {
	background-color: #EFEFEF;
	margin-bottom:30px;
	padding-top:80px;
	height:1000px;
}




/*! ------------------------------------------ FOOTER ------------------------------------------ */

footer {
	background-color: #FF3A17;
	padding: 3vh;
}

.link_footer {
	font-family: 'SuisseIntl-Regular', monospace;
	font-size: 10pt;
	color: #EFEFEF;
	text-decoration: none;
}

a.link_footer:hover {
	color: #ABABAB;
	text-decoration: none;
}



}

.text_footer {
	font-family: 'SuisseIntl-Regular', monospace;
	font-size: 10pt;
	color: #EFEFEF;
}




/*! ------------------------------------------ RESPONSIVE ------------------------------------------ */

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

}
